@using Microsoft.AspNet.Identity;

f@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>
<ul class="dash">
    <li class="btn-default">@Html.ActionLink("Apply","Index", "Forms")</li>
    @if (User.IsInRole("Admin"))
    {
            <li class="btn-default">@Html.ActionLink("Create New Form", "", "")</li> // fill in the method, controller and this should work for admins!
            <li class="btn-default">@Html.ActionLink("Delete a Form", "", "")</li>
    }

</ul>