@model MissionImpossible.Models.Form
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NEw</h2>

@using (Html.BeginForm("Add", "Forms", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_EditForm");
}